.idea
.vscode
.env
.env.prod
.env.old
.tmp
swarm.secret
traefik/acme.json
traefik/ssl/localhost.*
graphite/data
!graphite/data/.gitkeep
loki/data
!loki/data/.gitkeep
promtail/positions
!promtail/positions/.gitkeep
portainer/data
!portainer/data/.gitkeep
postgres/data
!postgres/data/.gitkeep
registry/data
!registry/data/.gitkeep
registry/auth
!registry/auth/.gitkeep
traefik/logs
!traefik/logs/.gitkeep
